---
import Layout from '../layouts/Layout.astro';
import { verificarToken } from '../utils/auth.js';

const usuario = verificarToken(Astro.request);
if (!usuario) {
    return Astro.redirect('/login');
}
if (usuario.rol !== 'admin') {
    return Astro.redirect('/'); 
}
---

<Layout>
    <h1>Generar Reporte</h1>

    <main class="form-container">
        <form>
            <div>
                <label for="desde">Desde:</label>
                <input type="date" id="desde" name="desde" required />
            </div>

            <div>
                <label for="hasta">Hasta:</label>
                <input type="date" id="hasta" name="hasta" required />
            </div>
        </form>
    </main>

    <section class="menu-reportes">
        <nav>
            <button id="inventario">Lista Inventario</button>
            <button id="masVendido">Productos más Vendidos</button>
            <button id="stock">Productos con menos stock</button>
            <button id="caja">Ventas Totales</button>
            <button id="anuladas">Ventas Anuladas</button>
        </nav>
    </section>

    <div id="mensaje"></div>

    <div class="btn-add_container">
        <a class="btn-add" id="imprimir">Imprimir</a>
    </div>

    <div id="reporte"></div>

</Layout>

<style>

    form{
        display: flex;
        flex-direction: row;
    }

    .menu-reportes nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.75rem;
        padding: 1rem;
        border-bottom: 1px solid #ccc;
    }

    .menu-reportes button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        background-color: #f4f4f4;
        color: #1f2937;
        font-weight: 500;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        white-space: nowrap;
    }

    .menu-reportes button:hover {
        background-color: #e0e0e0;
        border-color: #1f2937;
        transform: translateY(-1px);
    }

    @media (max-width: 600px) {
    .menu-reportes nav {
        flex-direction: column;
        align-items: center;
    }

    .menu-reportes button {
        width: 90%;
        max-width: 300px;
    }
    }

</style>

<script type="module" is:inline>

    import { mostrarError } from "/mensajes.js";

    const inventarioBtn = document.querySelector('#inventario');
    const masVendidoBtn = document.querySelector('#masVendido');
    const stockBtn = document.querySelector('#stock');
    const anuladasBtn = document.querySelector('#anuladas');
    const cajaBtn = document.querySelector('#caja');

    // Reporte de todo el inventario
    inventarioBtn.addEventListener('click', async (e) => {
        e.preventDefault();

        const containerReporte = document.querySelector('#reporte');


        try {
            const response = await fetch('/api/productos');

            if (!response.ok) {
                throw new Error(`Error al obtener productos: ${response.status}`);
            }

            const productos = await response.json();

            if (!Array.isArray(productos) || productos.length === 0) {
                containerReporte.innerHTML = '<p>No hay productos registrados.</p>';
                return;
            }

            // Obtener tasa de cambio
            const tasaFetch = await fetch('/api/tasa');
            const dataTasa = await tasaFetch.json();
            const tasa = Number(dataTasa.valor);

            const tabla = document.createElement('table');
            tabla.classList.add('tabla-productos');

            tabla.innerHTML = `
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Stock</th>
                        <th>Costo</th>
                        <th>Venta</th>
                    </tr>
                </thead>
                <tbody>
                    ${productos.map(p => `
                        <tr>
                            <td>${p.codigo?.toUpperCase() || '—'}</td>
                            <td>${p.nombre?.toUpperCase() || '—'}</td>
                            <td>${p.stock ?? 0}</td>
                            <td>
                                ${p.costo?.toFixed(2) ?? '0.00'} USD
                                <br />
                                ${(p.costo * tasa) ?? '0.00'} COP
                            </td>
                            <td>
                                ${p.venta?.toFixed(2) ?? '0.00'} USD
                                <br />
                                ${(p.venta * tasa) ?? '0.00'} COP
                            </td>
                        </tr>
                    `).join('')}
                </tbody>
            `;

            containerReporte.innerHTML = '';
            containerReporte.appendChild(tabla);

        } catch (error) {
            console.error('Error en reporte de productos:', error);
            containerReporte.innerHTML = '<p>Error al cargar productos.</p>';
        }

    });

    // Reporte de productos mas vendidos
    masVendidoBtn.addEventListener('click', async (e) => {

        e.preventDefault();

        const desde = document.querySelector('#desde').value;
        const hasta = document.querySelector('#hasta').value;

        // Validaciones de las fechas
        if (desde === '' || hasta === '') {
            mostrarError('Debe seleccionar ambas fechas');
            return;
        }
        if (hasta < desde) {
            mostrarError('La fecha final no puede ser menor que la inicial');
            return;
        }

        try {
            const response = await fetch(`/api/reportes/productosMasVendidos?desde=${desde}&hasta=${hasta}`);
            if (!response.ok) throw new Error(`Error ${response.status}`);
            const productos = await response.json();

            const container = document.getElementById('reporte');
            container.innerHTML = '';

            if (!productos || !Array.isArray(productos.mas_vendidos) || !Array.isArray(productos.menos_vendidos)) {
                mostrarError("No hay productos vendidos en ese rango de fecha");
                return;
            }

            // Obtener tasa de cambio
            const tasaFetch = await fetch('/api/tasa');
            const dataTasa = await tasaFetch.json();
            const tasa = Number(dataTasa.valor);

            const crearTabla = (titulo, lista) => {
                const tabla = document.createElement('table');
                tabla.classList.add('tabla-reportes');

                const encabezado = document.createElement('caption');
                encabezado.textContent = titulo;
                tabla.appendChild(encabezado);

                tabla.innerHTML += `
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Unidades Vendidas</th>
                            <th>Total Vendido</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${lista.map(p => `
                            <tr>
                                <td>${p.codigo_producto.toUpperCase()}</td>
                                <td>${p.nombre_producto.toUpperCase()}</td>
                                <td>${p.cantidad_total}</td>
                                <td>
                                    ${p.total_usd.toFixed(2)} USD
                                    <br />
                                    ${Math.ceil(p.total_usd * tasa)} COP
                                </td>
                            </tr>
                        `).join('')}
                    </tbody>
                `;

                return tabla;
            };

            container.appendChild(crearTabla('🟢5 productos más vendidos', productos.mas_vendidos));
            container.appendChild(crearTabla('🔴5 productos menos vendidos', productos.menos_vendidos));

        } catch (error) {
            console.error('Error al generar reporte:', error);
            mostrarError('No se pudo generar el reporte');
        }
    });

    // Reporte de productos con menos stock
    stockBtn.addEventListener('click', async (e) => {

        e.preventDefault();

        try {
            const response = await fetch(`/api/reportes/menosStock`);
            if (!response.ok) throw new Error(`Error ${response.status}`);
            const productos = await response.json();

            const container = document.getElementById('reporte');
            container.innerHTML = '';

            if (!productos || !Array.isArray(productos.bajos_en_stock) || !Array.isArray(productos.agotados)) {
                mostrarError("No hay productos con poco stock.");
                return;
            }

            const crearTabla = (titulo, lista) => {
                const tabla = document.createElement('table');
                tabla.classList.add('tabla-reportes');

                const encabezado = document.createElement('caption');
                encabezado.textContent = titulo;
                tabla.appendChild(encabezado);

                tabla.innerHTML += `
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Unidades en Inventario</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${lista.map(p => `
                            <tr>
                                <td>${p.codigo.toUpperCase()}</td>
                                <td>${p.nombre.toUpperCase()}</td>
                                <td>${p.stock}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                `;

                return tabla;
            };

            container.appendChild(crearTabla('Productos con Menos Stock', productos.bajos_en_stock));
            container.appendChild(crearTabla('Productos agotados', productos.agotados));

        } catch (error) {
            console.error('Error al generar reporte:', error);
            mostrarError('No se pudo generar el reporte');
        }
    });

    // Reporte de ventas anuladas
    anuladasBtn.addEventListener('click', async (e) =>{

        e.preventDefault();

        const desde = document.querySelector('#desde').value;
        const hasta = document.querySelector('#hasta').value;

        // Validaciones de las fechas
        if (desde === '' || hasta === '') {
            mostrarError('Debe seleccionar ambas fechas');
            return;
        }
        if (hasta < desde) {
            mostrarError('La fecha final no puede ser menor que la inicial');
            return;
        }

        try {

            const response = await fetch(`/api/reportes/ventasAnuladas?desde=${desde}&hasta=${hasta}`);
            if (!response.ok) throw new Error(`Error ${response.status}`);
            const ventas = await response.json();

            const container = document.getElementById('reporte');
            container.innerHTML = '';

            if (!Array.isArray(ventas) || ventas.length === 0) {
                mostrarError("No hay ventas anuladas en ese rango de fecha.")
                return;
            }

            // Obtener tasa de cambio
            const tasaFetch = await fetch('/api/tasa');
            const dataTasa = await tasaFetch.json();
            const tasa = Number(dataTasa.valor);

            const tabla = document.createElement('table');
            tabla.classList.add('tabla-reportes');

            tabla.innerHTML = `
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Monto</th>
                                        <th>Tipo de Pago</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    ${ventas.map(v => `
                                    <tr>
                                        <td>
                                            ${new Date(v.fecha_venta + "T00:00:00").toLocaleDateString("es-ES", {
                                                day: "2-digit",
                                                month: "2-digit",
                                                year: "numeric"
                                            })}
                                        </td>
                                        <td>
                                            ${v.nombre_cliente.toUpperCase()}
                                            <br />
                                            C.I. ${v.cedula_cliente}    
                                        </td>
                                        <td>
                                            ${v.total_usd.toFixed(2)} USD
                                            <br />
                                            ${Math.ceil(v.total_usd * tasa)} COP
                                        </td>
                                        <td>${v.tipo_pago.toUpperCase()}</td>
                                        <td>${v.estado.toUpperCase()}</td>
                                    </tr>
                                    `).join('')}
                                </tbody>
                            `;

            container.appendChild(tabla);

        } catch (error) {
            console.error('Error al generar reporte:', error);
            mostrarError('No se pudo generar el reporte');
        }
    });
        
    // Reporte de ingresos netos
    cajaBtn.addEventListener('click', async (e) =>{

        e.preventDefault();

        const desde = document.querySelector('#desde').value;
        const hasta = document.querySelector('#hasta').value;

        // Validaciones de las fechas
        if (desde === '' || hasta === '') {
            mostrarError('Debe seleccionar ambas fechas');
            return;
        }
        if (hasta < desde) {
            mostrarError('La fecha final no puede ser menor que la inicial');
            return;
        }

        try {

            const response = await fetch(`/api/reportes/ingresos?desde=${desde}&hasta=${hasta}`);
            if (!response.ok) throw new Error(`Error ${response.status}`);
            const ventas = await response.json();

            console.log(ventas.resumen);

            const container = document.getElementById('reporte');
            container.innerHTML = '';

            if (ventas.length === 0) {
                mostrarError("No hubo ingresos en ese rango de fecha.")
                return;
            }

            // Obtener tasa de cambio
            const tasaFetch = await fetch('/api/tasa');
            const dataTasa = await tasaFetch.json();
            const tasa = Number(dataTasa.valor);

            const tabla = document.createElement('table');
            tabla.classList.add('tabla-reportes');
            tabla.innerHTML = `
                                <thead>
                                    <tr>
                                    <th>Nro. VENTAS A CONTADO</th>
                                    <th>Nro. ABONOS</th>
                                    <th>TOTAL de Contado</th>
                                    <th>TOTAL de Abonos</th>
                                    <th>TOTAL EN CAJA</th>
                                    <th>GANANCIA NETA de CONTADO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>${ventas.resumen.ventas_contado}</td>
                                        <td>${ventas.resumen.abonos_realizados}</td>
                                        <td>
                                            ${ventas.resumen.total_ventas_contado.toFixed(2)} USD<br />
                                            ${Math.ceil(ventas.resumen.total_ventas_contado * tasa)} COP
                                        </td>
                                        <td>
                                            ${ventas.resumen.total_abonos_realizados.toFixed(2)} USD<br />
                                            ${Math.ceil(ventas.resumen.total_abonos_realizados * tasa)} COP
                                        </td>
                                        <td>
                                            ${Number(ventas.resumen.total_ventas_contado + ventas.resumen.total_abonos_realizados).toFixed(2)} USD<br />
                                            ${Math.ceil((ventas.resumen.total_ventas_contado + ventas.resumen.total_abonos_realizados) * tasa)} COP
                                        </td>
                                        <td>
                                            ${ventas.resumen.margen_ganancia.toFixed(2)} USD<br />
                                            ${Math.ceil(ventas.resumen.margen_ganancia * tasa)} COP
                                        </td>
                                    </tr>
                                </tbody>
                            `;

            container.appendChild(tabla);

            // Mostrar tablas detalladas

            // Tabla de ventas contado
            const tablaContado = document.createElement('table');
            tablaContado.classList.add('tabla-reportes');
            tablaContado.innerHTML = `
                <caption>Ventas a Contado</caption>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Monto Total</th>
                    </tr>
                </thead>
                <tbody>
                    ${ventas.ventasContadoDetalle.map(v => `
                        <tr>
                            <td>
                                ${(() => {
                                    const fechaObjeto = new Date(v.fecha + "T00:00:00");
                                    const opcionesFormato = { day: "2-digit", month: "2-digit", year: "numeric" };
                                    return fechaObjeto.toLocaleDateString("es-ES", opcionesFormato);
                                })()}
                            </td>
                            <td>${v.cliente.toUpperCase()}</td>
                            <td>
                                ${(typeof v.total_usd === 'number' ? v.total_usd.toFixed(2) : '0.00')} USD
                                <br />
                                ${Math.ceil(v.total_usd * tasa)} COP
                            </td>
                        </tr>
                    `).join('')}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1"><b>Nro. registros:</b> ${ventas.resumen.ventas_contado}</td>
                        <td colspan="2"><b>Total ingresado:</b> 
                            ${(typeof ventas.resumen.total_ventas_contado === 'number' ? ventas.resumen.total_ventas_contado.toFixed(2) : '0.00')} USD
                            <br />
                            ${Math.ceil(ventas.resumen.total_ventas_contado * tasa)} COP
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"><b>Margen de ganancia:</b> 
                            ${(typeof ventas.resumen.margen_ganancia === 'number' ? ventas.resumen.margen_ganancia.toFixed(2) : '0.00')} USD
                            <br />
                            ${Math.ceil(ventas.resumen.margen_ganancia * tasa)} COP
                        </td>
                    </tr>
                </tfoot>
            `;
            container.appendChild(tablaContado);

            // Tabla de ventas crédito
            const tablaCredito = document.createElement('table');
            tablaCredito.classList.add('tabla-reportes');
            tablaCredito.innerHTML = `
                <caption>Ventas a Crédito</caption>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Monto Total</th>
                    </tr>
                </thead>
                <tbody>
                    ${ventas.ventasCreditoDetalle.map(v => `
                        <tr>
                            <td>
                                ${(() => {
                                    const fechaObjeto = new Date(v.fecha + "T00:00:00");
                                    const opcionesFormato = { day: "2-digit", month: "2-digit", year: "numeric" };
                                    return fechaObjeto.toLocaleDateString("es-ES", opcionesFormato);
                                })()}
                            </td>
                            <td>${v.cliente.toUpperCase()}</td>
                            <td>
                                ${(typeof v.total_usd === 'number' ? v.total_usd.toFixed(2) : '0.00')} USD
                                <br />
                                ${Math.ceil(v.total_usd * tasa)} COP
                            </td>
                        </tr>
                    `).join('')}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1"><b>Nro. registros:</b> ${ventas.resumen.ventas_credito}</td>
                        <td colspan="2"><b>Total ingresado:</b> 
                            ${(typeof ventas.resumen.total_ventas_credito === 'number' ? ventas.resumen.total_ventas_credito.toFixed(2) : '0.00')} USD
                            <br />
                            ${Math.ceil(ventas.resumen.total_ventas_credito * tasa)} COP
                        </td>
                    </tr>
                </tfoot>
            `;
            container.appendChild(tablaCredito);

            // Tabla de abonos
            const tablaAbonos = document.createElement('table');
            tablaAbonos.classList.add('tabla-reportes');
            tablaAbonos.innerHTML = `
                <caption>Abonos realizados</caption>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Monto Total</th>
                    </tr>
                </thead>
                <tbody>
                    ${ventas.abonosDetalle.map(a => `
                        <tr>
                            <td>
                                ${(() => {
                                    const fechaObjeto = new Date(a.fecha + "T00:00:00");
                                    const opcionesFormato = { day: "2-digit", month: "2-digit", year: "numeric" };
                                    return fechaObjeto.toLocaleDateString("es-ES", opcionesFormato);
                                })()}
                            </td>
                            <td>${a.cliente.toUpperCase()}</td>
                            <td>
                                ${(typeof a.monto === 'number' ? a.monto.toFixed(2) : '0.00')} USD
                                <br />
                                ${Math.ceil(a.monto * tasa)} COP
                            </td>
                        </tr>
                    `).join('')}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="1"><b>Nro. abonos:</b> ${ventas.resumen.abonos_realizados}</td>
                        <td colspan="2"><b>Total abonos:</b> 
                            ${(typeof ventas.resumen.total_abonos_realizados === 'number' ? ventas.resumen.total_abonos_realizados.toFixed(2) : '0.00')} USD
                            <br />
                            ${Math.ceil(ventas.resumen.total_abonos_realizados * tasa)} COP
                        </td>
                    </tr>
                </tfoot>
            `;
            container.appendChild(tablaAbonos);

            // 4. Total en caja
            const totalCaja = document.createElement('div');
            totalCaja.innerHTML = `<h3>Total en caja: ${(typeof ventas.resumen.total_en_caja === 'number' ? ventas.resumen.total_en_caja.toFixed(2) : '0.00')} USD</h3>`;
            container.appendChild(totalCaja);

        } catch (error) {
            console.error('Error al generar reporte:', error);
            mostrarError('No se pudo generar el reporte');
        }
    });

    // Impresion
    const btnImprimir = document.querySelector('#imprimir');

    btnImprimir.addEventListener('click', () =>{
        
        const contenido = document.getElementById('reporte');
        if (!contenido) return alert('No se encontró el div#reportes');

        const ventana = window.open('', '', 'width=800,height=600');
        ventana.document.write(`
            <html>
                <head>
                    <title>Resumen de Caja</title>
                    <style>
                        body { font-family: sans-serif; padding: 20px; }
                        h2 { margin-top: 0; }
                        table { border-collapse: collapse; width: 100%; }
                        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
                    </style>
                </head>
                <body>
                    ${contenido.innerHTML}
                </body>
            </html>
        `);
        ventana.document.close();
        ventana.focus();
        ventana.print();
        ventana.close();


    })

</script>
